/*Main Nosotros*/
.main-nosotros {
    #nosotros-titulo {
        font-family: Luxury;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }

    .nosotros-mision {
        background-color: rgba(204, 204, 27, 0.405);
        position: relative;
        text-align: justify;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
        padding: 50px;

        h1 {
            #p0 {
                display: inline-block;
                font-size: 20px;
                position: relative;
                left: 10px;
            }
        }

        p {

        }

        ul {
            li {

            }
        }

        ol {
            li {

            }
        }


    }
}